@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-fondo-izquierda: rgba(40, 163, 194, 0.7);
  --color-fondo-derecha: rgba(233, 200, 16, 0.8);
  --color-hover-izquierda: rgba(87, 84, 236, 1);
  --color-hover-derecha: rgb(184, 110, 61);
  --ancho-hover: 75%;
  --ancho-otro: 25%;
  --velocidad-transicion: 1000ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.boton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.split.izquierda .boton:hover {
  background-color: var(--color-hover-izquierda);
  border-color: var(--color-hover-izquierda);
}

.split.derecha .boton:hover {
  background-color: var(--color-hover-derecha);
  border-color: var(--color-hover-derecha);
}

.contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.izquierda {
  left: 0;
  background: url('Front\ end\ .jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.izquierda::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-fondo-izquierda);
}

.split.derecha {
  right: 0;
  background: url('back-end.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.derecha::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-fondo-derecha);
}

.split.derecha,
.split.izquierda,
.split.derecha::before,
.split.izquierda::before {
  transition: all var(--velocidad-transicion) ease-in-out;
}

.hover-izquierda .izquierda {
  width: var(--ancho-hover);
}

.hover-izquierda .derecha {
  width: var(--ancho-otro);
}

.hover-derecha .derecha {
  width: var(--ancho-hover);
}

.hover-derecha .izquierda {
  width: var(--ancho-otro);
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }

  .boton {
    padding: 1.2rem;
    width: 12rem;
  }
}
